.video-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem;
  width: 25vw;
  border: 1px solid #bbb;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px 2px rgba(187,187,187,1);
  cursor: pointer;
}

.video-item h3 {
  font-size: 0.8rem;
}

.video-item img {
  width: 100%;
}